.aboutUsWrapper {
  max-width: 700px;
  margin: 50px auto;
}

.projectSummary {
  text-align: left;
  font-size: 15px;
  margin: 15px auto;
  padding: 10px;
}

.team {
  width: 100%;
}

.contact-text {
  margin-left: calc((100% - 250px) / 2);
  width: 250px;
  display: inline-flex;
  justify-content: flex-start;
}

.contact-image {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
