html,
body,
.App,
#root {
  height: 100%;
}

.App {
  height: 100%;
}

.welcome {
  min-height: calc(100vh - 80px);
  background: url('../assets/cold_water_surf_patched.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.aboutUs {
  background: url('../assets/cold_water_surf_patched.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .welcome {
    background-size: unset; /* background-attachment: fixed; not enabled on mobiles */
  }
  .aboutUs {
    background-size: unset;
    background-position: top;
  }
}
