.blogWrapper {
  display: block;
  max-width: 700px;
  margin: 0 auto 0 80px;
  justify-content: center;
  white-space: pre-line;
}

.blogWrapper h1 {
  color: #3a5b6c;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sidePicture {
  width: 30%;
  background: url('../assets/bloggbild.png');
  background-size: cover;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.sidePicture img {
  margin-top: 40%;
}

.blog-divider {
  border: solid 0.3px;
  width: 100%;
  margin: 40px auto;
  border-color: #939598;
}

@media (max-width: 768px) {
  .blogWrapper {
    margin: 10px;
  }

  .blogWrapper h1 {
    margin: 20px auto 20px auto;
  }
}
