.blogWrapper {
  display: block;
  max-width: 700px;
  margin: 0 40px 0 calc(25% + 60px);
  justify-content: center;
  white-space: pre-line;
}

.blogWrapper h1 {
  color: #3a5b6c;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.blogWrapper p {
  font-size: 14px;
}

.sidePicture {
  width: 25%;
  background: url('../assets/bloggbild.png');
  background-size: cover;
  height: calc(100vh - 80px);
  position: fixed;
  display: flex;
  justify-content: center;
}

.sidePicture img {
  margin-top: 35%;
}

.blog-divider {
  border: solid 0.5px;
  width: 100%;
  margin: 40px auto;
  border-color: #939598;
}

@media (max-width: 768px) {
  .blogWrapper {
    margin: 10px;
  }

  .blogWrapper h1 {
    margin: 0 auto 20px auto;
  }
  .instaWrapper {
    display: none;
  }
}
