.Header {
  height: 80px;
  width: 100%;
  /* min-width: 400px; */
  align-items: center; /*  background-color: #3a5b6c; background: rgba(76, 175, 80, 0); #009790 #2980b9 #ff805c */
}

.Header-menu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.Header-menu-link {
  height: 100%;
}

.Header a img {
  float: left;
  margin: 10px -55px 0 10px;
}

.Header-button-menu {
  height: 100% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  color: #3a5b6c !important;
  font-weight: 700; /* TESTAR NYTT */
}

.Header-button-menu-active {
  color: #3a5b6c !important;
  border-bottom: 5px solid #77c9d4 !important; /* header underline mark #ff805c #e67e22 */
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.Header-link-login {
  position: absolute;
  float: right;
  top: calc(40px - 18px);
  right: 0;
}

@media (max-width: 768px) {
  .Header a img {
    float: right;
    margin: 10px 10px 0 0;
  }
}
