.Welcome {
  min-height: calc(100vh - 80px);
  background: url('../assets/landview_wetsuits_edited.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeWrapper {
  width: 65%;
}

.welcome-login-text {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 20px;
}

.home-text {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  margin-bottom: 20%;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.featuresWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 80px auto;
}

.boxWrapper {
  display: inline-flex;
}

.oneBox {
  width: 300px;
  margin: 0 60px;
  text-align: center;
}

.oneBoxMobile {
  width: 300px;
  margin: 0 0 40px 0;
  text-align: center;
}

.divider {
  border: solid 1px;
  width: 70px;
  margin: 25px auto;
  border-color: #939598;
}

@media (max-width: 768px) {
  .Welcome {
    background-attachment: unset;
  }

  .home-text {
    margin: -10% 0 30% -10%;
  }

  .home-text p {
    margin: 0;
  }

  .divider {
    margin: 15px auto;
  }

  h2 {
    margin: 0.5em auto;
  }
}
