.Welcome {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

/*.Welcome {
  min-height: calc(100vh - 80px);
  background: url('../assets/hoddevik_seaview.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}*/

.homeWrapper {
  width: 60%;
  margin-top: 7%;
  position: relative;
}

.welcome-login-text {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 20px;
}

.home-text {
  margin: 8% 0 15% 0;
}
.home-text p {
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 31.6%;
}

.boxWrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  padding: 80px 0 40px 0;
  background-color: white;
}

.oneBox {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.oneBoxMobile {
  width: 300px;
  margin: 0 0 40px 0;
  text-align: center;
}

.divider {
  border: solid 0.5px;
  width: 100px;
  margin: 25px auto;
  border-color: #939598;
}

@media (max-width: 768px) {
  .homeWrapper {
    margin-top: 0;
  }
  .home-text {
    font-size: 16px;
  }
  .home-text img {
    margin-bottom: 20px;
  }
  .home-text p {
    margin: 0;
  }

  .divider {
    margin: 15px auto;
  }
  .buttonWrapper {
    left: 7.5%;
  }
  h2 {
    margin: 0.5em auto;
  }
  .boxWrapper {
    flex-direction: column;
  }
}
